[Desktop Entry]
Encoding=UTF-8
Name=Lien vers jaguar.biologie.hu-berlin.de/~wolfram/pages/seminar_theoretische_biologie_2007/literatur/schaber/Storn1997JGlobOpt11.pdf
Type=Link
URL=http://jaguar.biologie.hu-berlin.de/~wolfram/pages/seminar_theoretische_biologie_2007/literatur/schaber/Storn1997JGlobOpt11.pdf
Icon=application-pdf
Name[fr_FR]=link_to_jaguar.biologie.hu-berlin.de
