[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Convolutional Neural Networks (LeNet) — DeepLearning 0.1 documentation
Type=Link
URL=http://deeplearning.net/tutorial/lenet.html
Icon=text-html
