[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Neural networks and deep learning
Type=Link
URL=http://neuralnetworksanddeeplearning.com/chap6.html
Icon=text-html
